/* Base colours - chosen for accessibilty */
body {
    margin: 0px auto;
    padding: 10px 14px;
    max-width: 1100px;
    color: #593324;
    font-size: 15pt;
}

@media (max-width: 979px) {
    body
    {
        margin: 0px 20px;
    }
}

nav {
    margin: 1em 0em;
    text-align: center;
    font-size: 0.9em;
}

div.nav {
    margin: 0 1.5em;
    padding: 0 0 0.4em 0;
    border-bottom: 1.5px dotted #593324;
}

span.nav-divide {
    padding: 0 0.4em;
}

.green-glow {
    color: #2954a3;
    text-shadow: 0 0 5px rgba(122, 149, 197, 0.5);
}

.red-glow {
    color: #d90710;
    text-shadow: 0 0 5px rgba(217, 7, 16, 0.5);
}

.gray-glow {
    color: #444;
    text-shadow: 0 0 5px rgba(20, 20, 20, 0.5);
}

li > p {
    display: inline;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wrapper > .container {
    max-width: 80rem;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}
.wrapper .container {
    max-width: 80rem;
}

.avatar-container {
    text-align: center;
}

.sg > img {
    width: 50px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    border-radius: 50px;
}

a.sg {
    min-width: 70px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 1.5s ease;
    font-size: smaller;
}
a.sg > img {
    transition: all 1.5s ease;
    filter: sepia(40%);
}
a.sg:hover {
    background: rgba(115, 67, 49, 0.25);
}
a.sg:hover > img {
    filter: sepia(10%);
}

a:hover {
    text-decoration: underline;
}

.vega-embed > details {
    display: none;
}

.header {
    background-color: #f4f5f6;
    padding-top: 1rem;
    padding-top: 0rem;
}
.header + section {
    border-top: 0;
}
.header .container {
    border-top: 0;
    /* padding-bottom: 7.5rem;
    padding-top: 7.5rem; */
    position: relative;
    text-align: center;
    /* padding-top: 3.5rem;
    padding-bottom: 3.5rem; */
}
.header .title {
    font-family: Gotham Rounded A, Gotham Rounded B, Helvetica Neue, Arial, sans-serif;
}
.header .button {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.button {
    background-color: #d90710;
    border-color: #d90710;
    border-radius: 30px;
}
.button:hover {
    background-color: #800205;
    border-color: #800205;
}

a {
    color: #d90710;
}


h2 {
    text-align: center;
    font-family: Playball, "MJ AlGhifari", sans-serif;
    color: #593324;
    font-size: 250%;
}

h3 {
    color: #593324;
    padding: 0 1.5em;
}

p {
    color: #593324;
    text-align: left;
    padding: 0 2em;
}

ul {
    color: #593324;
}

ol {
    padding: 0 4em;
}

blockquote {
    margin: 1em 20em 2em 2.5em;
    padding: 1em 2em 1em 2em;
    text-align: left;
    background-color: #fff5f1;
    border-left: 2px solid #593324;
}

code {
    background-color: #fff0;
    font-size: 100%;
    margin: 0 0.15em;
    padding: 0;
}

table {
    margin-bottom: 4em;
    padding: 0 2em;
}

/* svg {
    width: 100%;
    margin-top: -150;
    margin-bottom: -100px;
} */

div.hero {
    /* transform: scale(0.5); */
    scale: 0.6;
    margin: 0 0 0 -190px;
    /* text-align: left;
    align-items: left;
    justify-content: left;
    flex-direction: column; */
}

div.back-to-top {
    font-size: smaller;
    font-style: italic;
    text-align: right;
    margin-right: 5em;
    margin-bottom: 3em;
}

div.sponsor-table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.sponsor-table img {
    margin: 0 1.5em;
}

div#closed-sign {
    background-color: #7a95c5;
    border-radius: 15px;
    border: 10px solid white;
    color: white;
    height: 11rem;
    display: block;
    padding: 3rem;
    font-size: 35pt;
    width: 33rem;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(-10deg);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Nunito", cursive;
    box-shadow: 5px 9px 17px 3px rgba(0, 0, 0, 0.75);
    transition-delay: 0.2s;
    transition: 0.6s;
    display: none;
}
div#closed-sign:hover {
    background-color: #e0665d;
}

/* These next two incantations make the utteranc.es content render
    with a non-zero height.

    From: https://stackoverflow.com/a/23866014/4376000
*/

div.utterances {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
}

iframe.utterances-frame {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 8rem;
}

#closed-sign:before {
    position: absolute;
    top: 0.17em;
    left: 0;
    width: 100%;
    transition: 0.6s;
    transition-delay: 0.2s;
    box-sizing: border-box;
    transition: 0.6s;
    opacity: 0;
    content: "Close";
}
#closed-sign:after {
    position: absolute;
    top: 0.17em;
    left: 0;
    width: 100%;
    transition: 0.6s;
    transition-delay: 0.2s;
    box-sizing: border-box;
    transition: 0.6s;
    opacity: 1;
    content: "Closing soon";
}
#closed-sign:hover:before {
    opacity: 1;
}
#closed-sign:hover:after {
    opacity: 0;
}

.footer {
    background-color: #f4f5f6;
    padding: 3rem 3rem 0.1rem 3rem;
    font-size: 0.65em;
}

.frame {
    height: 175px;
    width: 260px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    height: auto;
    margin: 2em auto 2em auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

frame.img {
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;
}

/* @media (min-width: 40rem) {
    .header {
        padding-top: 5rem;
    }
} */

/*# sourceMappingURL=style.css.map */
